@import "tailwindcss";


/* LIGHT MODE  */
:root {
  /* Background */
  --bg-default: #ffffff;
  --bg-alt: #f3f4f6;

  /* Text */
  --text-default: #1f2937;
  --text-muted: #6b7280;

  /* Primary */
  --primary: #10b981;
  --primary-hover: #059669;
}

/* DARK MODE  */
.dark {
  --bg-default: #1f2937;
  --bg-alt: #374151;

  --text-default: #f3f4f6;
  --text-muted: #9ca3af;

  --primary: #34d399;
  --primary-hover: #10b981;
}

/* DESIGN TOKENS  */
@theme {
  --color-bg-default: var(--bg-default);
  --color-bg-alt: var(--bg-alt);

  --color-text-default: var(--text-default);
  --color-text-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}


/* UTILITY CLASSES  */

@layer utilities {

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Background */
  .bg-background-default {
    background-color: var(--color-bg-default);
  }

  .bg-background-alt {
    background-color: var(--color-bg-alt);
  }

  /* Text */
  .text-default {
    color: var(--color-text-default);
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  /* Buttons / Primary */
  .bg-primary {
    background-color: var(--color-primary);
  }

  .hover\:bg-primary-hover:hover {
    background-color: var(--color-primary-hover);
  }
}

/* BROWSER HELP LIGHT AND DARK MODE  */
html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}


/* PERSONALIZED CLASSES FOR COMPONENTS W/TAILWIND  */

.default-btn {
    @apply bg-primary hover:bg-primary-hover hover:cursor-pointer text-white font-semibold px-4 py-2 rounded-lg
  }

.default-btn:disabled {
    @apply bg-gray-400 cursor-not-allowed
}

.form-container {
  @apply 
    w-[90vw] 
    h-full
    md:h-[80vh] 
    border-2
    border-primary 
    rounded-3xl 
    my-4
    mx-auto 
    p-6
    shadow-xl 
    shadow-primary/20
    transition-shadow
    bg-bg-default
    hover:shadow-2xl
}

.card-absolute-title {
  @apply 
    absolute 
    inset-0 
    flex
    flex-col 
    justify-end p-4 
    bg-linear-to-t
    from-gray-900/80 
    to-transparent
    text-white
                              
}

.vehicle-card-container {
  @apply 
    grid 
    gap-4 
    grid-cols-1        
    md:grid-cols-3     
    lg:grid-cols-4    
    w-full             
    max-w-7xl   
}

.vehicle-card {                                
@apply 
  relative 
  h-60
  cursor-pointer 
  overflow-hidden
  rounded-xl 
  shadow-lg 
  hover:border-primary
  hover:border-2
}

.step-container {
  @apply 
    w-full 
    h-full 
    flex 
    flex-col
    justify-between p-4
}

.step-container-title {
  @apply 
    text-text-default 
    text-3xl 
    text-center 
    font-extrabold
}